<div class="row bg-dark" style="height:300px;">
      <div class="col-md-12 mt-5">
            <div class="row justify-content-center align-content-center">
                  <div class="col-md-4 justify-content-center text-white">
                  <b>Nuestras Certificaciones</b>
                   <ul class="mt-4">
                        <li>Universidad del Istmo</li>
                        <li>Yo Reparo Academy</li>
                        <li>Educacion It</li>
                        <li>IMMUNE Technology Institute</li>
                   </ul>
                  </div>
                  <div class="col-md-4 justify-content-center text-white">
                   <b>Donde estamos Ubicados</b>
                   <p class="mt-4">
                        <a class="text-white text-decoration-none" target="_blank"  href="https://www.google.com/maps/dir//easy+data+panama/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x8fac973b261c4b85:0xe215920ab57b79a1?sa=X&ved=1t:3061&ictx=111">
                        <i class="bi bi-geo-alt-fill"></i> Capira, Vía, Cermeño, Provincia de Panamá Oeste
                        </a>
                  </p>

                  </div>
                  <div class="col-md-4 justify-content-center text-white">
                  <b>Nuestras Redes</b>
                  <p class="mt-4 mb-0">
                        <a class="text-decoration-none text-white" href="https://wa.me/50768844342/"
                        target="_blank">
                        <i class="bi bi-whatsapp"></i> Whatsapp
                        </a></p>
                  
                  <p class="mt-2"><i class="bi bi-instagram"></i> instagram</p>
                  </div>
            </div>
      </div>
      <div class="col-12  d-flex justify-content-center align-items-center">
      <strong style="color:white;">&copy; {{titulo}} {{year}}</strong>
      </div>
</div>









  
