<div class="container">
  <div class="row">
    <div class="product-item col-12 mt-3">
      <div class="row">
        <div class="col-3 product-item-title flex-column d-flex justify-content-md-center align-items-center">
          <img src="assets/ModeoRobotica.jpg" class="rounded-circle m-2" width="170" height="170" />
          <p class="text-center mt-2">Robotica</p>
        </div>
        <div class="col-3 product-item-title flex-column d-flex justify-content-md-center align-items-center">
          <img src="assets/ModeloSofware.jfif" class="rounded-circle m-2" width="170" height="170" />
          <p class="text-center mt-2">Desarrollo de Software</p>
        </div>
        <div class="col-3 product-item-title flex-column d-flex justify-content-md-center align-items-center">
          <img src="assets/clases-particulares.jpg" class="rounded-circle m-2" width="170" height="170" />
          <p class="text-center mt-2">Ingles</p>
        </div>
        <div class="col-3 product-item-title flex-column d-flex justify-content-md-center align-items-center">
          <img src="assets/electronica.jfif" class="rounded-circle m-2" width="170" height="170" />
          <p class="text-center mt-2">Electronica</p>
        </div>
      </div>

    </div>
    <hr>
    <div class="row">
      <div class="card shadow">
        <div class="product-item ml-5 mt-4 mx-5 mb-0">
          <div class="product-item-title col-6 offset-6">
            <div class="bg-primary p-3 d-flex justify-content-center  rounded">
              <h5 class="section-heading text-white">
                <span class="section-heading-upper">Robotica</span>
              </h5>
            </div>
          </div>
          <img class="img-fluid w-25  mt-1 offset-9" src="assets/mantenimiento.jpg" />
          <div class="product-item-description d-flex ms-auto">
            <div class="bg-faded p-5 rounded"><p class="mb-0">Our seasonal menu features delicious snacks, baked goods, and even full meals perfect for breakfast or lunchtime. We source our ingredients from local, oragnic farms whenever possible, alongside premium vendors for specialty goods.</p></div>
        </div>
        </div>
        <div class="product-item ml-5 mx-5 mb-0">
          <div class="product-item-title col-6">
            <div class="p-3  rounded" style="background: radial-gradient(blue, pink);">
              <h5 class="section-heading text-white">
                <span class="section-heading-upper">Desarrollo de Sofware</span>
              </h5>
            </div>
          </div>
          <img class="img-fluid w-25 mt-1" src="assets/ModeloSofware.jfif" />
          <div class="product-item-description d-flex ms-auto">
            <div class="bg-faded p-5 rounded"><p class="mb-0">Our seasonal menu features delicious snacks, baked goods, and even full meals perfect for breakfast or lunchtime. We source our ingredients from local, oragnic farms whenever possible, alongside premium vendors for specialty goods.</p></div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>


<button (click)="download()">Download PDF</button>