<div class="row">
  <div class="col-12 mb-5 mt-5">
    <div class="card-container d-flex justify-content-center align-items-center">
      <div class="card col-md-6 col-10">
        <div class="card-header bg-success text-center">
          <b>
            <h4><strong>Inicio De Seccion</strong></h4>
          </b>
        </div>
        <div class="card-body">
          <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-md-2 col-12 d-flex justify-content-center">
              <i class="bi bi-person-circle"><b> Usuario</b> </i>
            </div>
            <div class="col-md-8 col-12">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="row d-flex justify-content-center align-items-center mt-3">
            <div class="col-md-2 col-12 d-flex justify-content-center">
              <i class="bi bi-lock-fill"></i><b> Contraseña</b>
            </div>
            <div class="col-md-8 col-12">
              <input type="password" class="form-control">
            </div>
          </div>
          <div class="row d-flex justify-content-center align-items-center mt-3">
            <button (click)="greetStudent()" routerLink="/paneladministracion"
              class="col-9 btn btn-success text-white">Iniciar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>