<div class="row mb-5">
  <div class="col-12 mb-0">
    <h1><strong>Reparamos</strong></h1>
  </div>
  <div class="col-12 mt-0">
    <div class="col-3 bg-success mt-0" style="height:5px;"></div>
  </div>
  <div class="col-12 mt-4">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="card-container">
          <div class="card border border-2 border-primary">
            <div class="col-auto d-flex justify-content-center mt-3">
              <h5><strong>Celulares Android <i class="bi bi-android2"></i></strong></h5>
            </div>
            <hr>
            <ul class="milista">
              <li>Samsung</li>
              <li>Huawei</li>
              <li>Xiaomi</li>
              <li>Blue</li>
              <li>Honor</li>
              <li>Nokia</li>
              <li>Motorola</li>
            </ul>
            <div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="card-container">
          <div class="card border border-2 border-info">
            <div class="col-auto d-flex justify-content-center mt-3">
              <h5><strong>Celulares Iphone <i class="bi bi-apple"></i></strong></h5>
            </div>
            <hr>
            <ul class="milista">
              <li>6</li>
              <li>6 Plus</li>
              <li>6 S</li>
              <li>6 S Plus</li>
              <li>7</li>
              <li>7 Plus</li>
              <li>8</li>
              <li>8 Plus</li>
              <li>X</li>
              <li>X S</li>
              <li>X S Max</li>
              <li>11</li>
              <li>11 Pro</li>
              <li>11 Pro Max</li>
            </ul>
            <div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="card-container">
          <div class="card border border-2 border-warning">
            <div class="col-auto d-flex justify-content-center mt-3">
              <h5><strong>Computadoras y Laptop <i class="bi bi-laptop-fill"></i></strong></h5>
            </div>
            <hr>
            <ul class="milista">
              <li>Dell</li>
              <li>Hp</li>
              <li>Lenovo</li>
              <li>Toshiba</li>
              <li>Acer</li>
              <li>Otros</li>
            </ul>
            <div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="card-container">
          <div class="card border border-2 border-dark">
            <div class="col-auto d-flex justify-content-center mt-3">
              <h5><strong>Tablet <i class="bi bi-tablet-fill"></i></strong></h5>
            </div>
            <hr>
            <ul class="milista">
              <li>Samsung</li>
              <li>Huawei</li>
              <li>Xiaomi</li>
              <li>Blue</li>
            </ul>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-5">
    <div class="col-12 mb-0">
      <h1><i class="bi bi-tools"></i><strong> Ofrecemos Servicio Tecnico</strong></h1>
    </div>
    <div class="col-12 mt-0">
      <div class="col-3 bg-success mt-0" style="height:5px;"></div>
    </div>
    <div class="col-12 mt-4">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="card-container">
            <div class="card" style="border:1px solid #5bc0de;">
              <div class="col-12 d-flex justify-content-center align-items-center mt-3">
                <h5><strong>Cambio de puerto de cargar</strong></h5>
              </div>
              <hr>
              <br>
              <div class="col-12 d-flex justify-content-center align-content-center mt-2 mb-2">
                <img src="assets/carga.png" style=" width:95%;height:150px;" />
              </div>
              <ul class="milista">
                <li>No Enciende</li>
                <li>Carga por momentos</li>
              </ul>
              <div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="card-container">
            <div class="card d-flex justify-content:center align-items: center" style="border:1px solid #f0ad4e;">
              <div class="col-12 d-flex justify-content-center align-items-center mt-3">
                <h5><strong>Cambio de bateria</strong></h5>
              </div>
              <hr>
              <br>
              <div class="col-12 d-flex justify-content-center align-content-center mt-2 mb-2">
                <img class="ml-2 ms-2" src="assets/barteria.jpg" style="width:95%;height:150px;" />
              </div>
              <ul class="milista">
                <li>Se apaga rapido</li>
                <li>Bateria inflada</li>
                <li>No carga</li>
                <li>No sube porcentaje de carga</li>
              </ul>
              <div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="card-container">
            <div class="card" style="border: 1px solid #0275d8;">
              <div class="col-12 d-flex justify-content-center align-items-center mt-3">
                <h5><strong>Cambio de Pantalla</strong></h5>

              </div>
              <hr>
              <br>
              <div class="col-12 d-flex justify-content-center align-content-center mt-2 mb-2">
                <img src="assets/Androidpantalla.jpg" style="width:95%; height:150px;" />
              </div>
              <ul class="milista">
                <li>Enciende pero no muestra imagen</li>
                <li>Pantalla quebrada</li>
              </ul>
              <div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="card-container">
            <div class="card" style="border:1px solid #292b2c;">
              <div class="col-12 d-flex justify-content-center align-items-center mt-3">
                <h5><strong>Mantenimiento</strong></h5>
              </div>
              <hr>
              <br>
              <div class="col-12 d-flex justify-content-center align-content-center mt-2 mb-2">
                <img src="assets/mantenimiento.jpg" style="width:95%;height:150px;" />
              </div>
              <ul class="milista">
                <li>Celular Mojado</li>
                <li>Algun desperfecto</li>
                <li>Calentamiento extraño</li>
              </ul>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>